/*
    Gracia Fernández Fernández 
    Septiembre 2024
*/
*{
    margin: 0px;
    box-sizing: border-box; 
}
body{
    background-color: rgb(151, 140, 253);
    border: solid 5px rgb(44, 54, 206);
    padding: 10px;
    border-radius: 25px;
}
h1,h2,h3{
    background-color: rgb(218, 139, 139);
    color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
    text-align: center;
}


